<?xml version="1.0"?>
<robot name="utils" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="heigth_robot_table" value="0.03" />
    <xacro:property name="heigth_leg_table" value="0.6" />
    <xacro:property name="base_link_table_x" value="0.5" />

    <xacro:property name="heigth_arm_base_z" value="0.8" />
    <xacro:property name="heigth_arm_base_y" value="0.8" />
    <xacro:property name="heigth_arm_base_x" value="1.5" />

    <xacro:property name="arm_pos_x" value="-0.5" />
    <xacro:property name="flange_offset_y" value="0.023" />

</robot>