<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

  <xacro:include filename="$(find fr3_miahand_description)/robots/common/properties.xacro" />

  <!-- Include macro table -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/extra/table.xacro" />
  <xacro:include filename="$(find fr3_miahand_description)/robots/common/franka_robot.xacro" />
  <xacro:include filename="$(find fr3_miahand_description)/robots/mia/mia_hand_flange.xacro" />

  <!-- Include macro for flange deg 90 -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/common/flange_deg_90.xacro" />

  <!-- Name for this robot -->
  <xacro:arg name="arm_id" default="fr3" />

  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="false" />
  <!-- If `gazebo` arg is set, to which frame shall $(arm_id)_link0 be parented. Empty string for
  not fixing at all -->
  <xacro:arg name="parent" default="world" />
  <!-- If `gazebo` arg is set and `parent` not empty, what position offset between `parent` &
  base_link_table -->
  <xacro:arg name="xyz" default="${-base_link_table_x} 0 ${heigth_robot_table}" />
  <!-- If `gazebo` arg is set and `parent` not empty, what rotation offset between `parent` &
  base_link_table -->
  <xacro:arg name="rpy" default="0 0 0" />

  <xacro:arg name="flange_deg_90" default="false" />

  <!-- fr3 macro -->
  <xacro:franka_robot arm_id="$(arg arm_id)"
    joint_limits="${xacro.load_yaml('$(find fr3_miahand_description)/robots/fr3/joint_limits.yaml')}"
    gazebo="$(arg gazebo)"
    parent="$(arg parent)"
    xyz="$(arg xyz)"
    rpy="$(arg rpy)">
  </xacro:franka_robot>

  <!-- mia hand macro with URFlange  -->
  <!-- Check if you want to add also the 90 deg flange -->

  <xacro:if value="$(arg flange_deg_90)">

    <!-- Add the 90 degree flange between fr3_link8 and the mia hand -->
    <xacro:flange_deg_90 parent="fr3_link8" />

    <!-- Add mia hand -->
    <xacro:mia_hand_flange parent="attach_link" gazebo="$(arg gazebo)">
      <origin xyz="0.0 0.0 0.0" rpy="${pi / 2.0} ${-pi / 2.0} 0.0" />
    </xacro:mia_hand_flange>
  </xacro:if>

  <xacro:unless value="$(arg flange_deg_90)">
    <!-- Add mia hand -->
    <xacro:mia_hand_flange parent="fr3_link8" gazebo="$(arg gazebo)">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}" />
    </xacro:mia_hand_flange>
  </xacro:unless>


</robot>