<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand_on_panda">
  
  <arg name="robot" default="fr3" />
  <xacro:arg name="arm_id" default="$(arg robot)" />
  <!-- Include macro properties -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/common/properties.xacro" />
  <!-- Include mia adapter macro -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/common/mia_adapter.xacro" />

  <!-- Make use of franka arm macro -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/common/franka_arm.xacro" />

  <!-- Gazebo -->
  <xacro:gazebo-joint joint="fr3_joint1" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint2" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint3" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint4" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint5" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint6" transmission="hardware_interface/PositionJointInterface" />
  <xacro:gazebo-joint joint="fr3_joint7" transmission="hardware_interface/PositionJointInterface" />

  <!-- Instantiate the UR robot and pass it all the required arguments. -->
  <xacro:franka_arm
    joint_limits="${xacro.load_yaml('$(find fr3_miahand_description)/robots/fr3/joint_limits.yaml')}"
    gazebo="True"
    arm_id="$(arg arm_id)"
  />

  <!-- Arm base -->
  <xacro:include filename="$(find fr3_miahand_description)/robots/extra/arm_base.urdf.xacro" />

  <!-- Attach arm to the arm base -->
  <joint name="robot_fix" type="fixed">
    <parent link="arm_base" />
    <child link="$(arg arm_id)_link0" />
    <origin xyz="${arm_pos_x} 0 ${heigth_arm_base_z}" rpy="0 0 0" />
  </joint>

  <!-- Mia adapter -->
  <xacro:flange_deg_90 parent="$(arg arm_id)_link8" />

  <!-- Mia hand on UR flange -->
  <xacro:include
    filename="$(find
  artificial_hands_description)/urdf/mia_hand_on_ur_flange.urdf.xacro" />

  <!-- Attach Mia hand  -->
  <joint name="mia_fix" type="fixed">
    <origin xyz="0.0 ${-flange_offset_y} 0.0" rpy="0.0 0.0 ${-pi}"/>
    <parent link="mia_adapter"/>
    <child link="palm"/>
  </joint>  

  <!-- Instantiate the Mia hand Gazebo robot and pass it all the required arguments. -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand_gazebo.urdf.xacro" /> -->

  <xacro:mia_gazebo 
    robotNamespace=""
  /> 

</robot>