<launch>
  <!-- LAUNCH ARGUMENTS -->
  <arg name="flange_deg_90" default="false" />
  <arg name="model" default="$(find fr3_miahand_description)/robots/fr3/fr3_miahand.urdf.xacro" />

  <!-- Params to set right or left Mia hand version  -->
  <arg name="right_hand" default="true" doc="True to for right hand False otherwise" />
  <arg name="load_default_mia_model" default="false" />
  <arg name="joint_limits_config_filename" default="joint_limits.yaml"
    doc="name of the config yaml file to calibrate joints limit of URDF file" />
  <arg name="transmission_config_filename" default="transmission_config.yaml"
    doc="name of the config yaml file to calibrate transmissions of MiaHand" />


  <!-- Params to set true if you want to rempa the thumb opp joint position  -->
  <arg name="remap_MIA_th_opp" default="True"
    doc="True to rempa the thumb opp joint position following the indef fle position" />

  <!-- Arguments to upload hardware interfaces of each finger -->
  <arg name="hw_interface_thumb_fle" default="PositionJointInterface" />
  <arg name="hw_interface_index_fle" default="PositionJointInterface" />
  <arg name="hw_interface_mrl_fle" default="PositionJointInterface" />
  <arg name="robotNamespace" default="mia_hand" /> <!-- /mia_hand -->

  <!-- Param to define a topic for getting the complete robot joint states -->
  <arg name="complete_robot_joint_states" default="/robot/joint_states" /> 

  <!-- START LAUNCH -->

  <!-- Robot description -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find fr3_miahand_description)/robots/fr3/fr3_miahand.urdf.xacro'
  	flange_deg_90:=$(arg flange_deg_90)
    hw_interface_thumb_fle:=$(arg hw_interface_thumb_fle) 
    hw_interface_index_fle:=$(arg hw_interface_index_fle) 
    hw_interface_mrl_fle:=$(arg hw_interface_mrl_fle)" />

  <!-- Launch joint state publisher GUI -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

  <!-- Load thumb opp transmission config file-->
  <param name="mia_transmissions_config_" type="string"
    value="$(find mia_hand_description)/calibration/$(arg transmission_config_filename)" />

  <node name="remap_mia_joint_states" pkg="mia_hand_description" type="remap_mia_joint_states">
    <param name="remap_MIA_th_opp" type="bool" value="$(arg remap_MIA_th_opp)" />
    <!-- Remap the name because now the complete joint_states contains also the fr3 joint_states,
    and not only the mia joint states -->
    <remap from="miaviz_joint_states" to="$(arg complete_robot_joint_states)" />
  </node>

  <!-- Launch robot state publisher to compute the TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" if="$(arg remap_MIA_th_opp)">
      <remap from="joint_states" to="$(arg complete_robot_joint_states)" />
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" unless="$(arg remap_MIA_th_opp)">
  </node>

  <!-- RViz for visualization -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz"
    args="-d $(find
  fr3_miahand_description)/rviz/view_fr3_miahand.rviz" />

</launch>